<!DOCTYPE html>
<html>
<head>
  <title>BeltTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
	<h1> Hi <%= current_user.first_name %> <%= current_user.last_name %>!</h1>
	<form action='/sessions/<%=current_user.id%>' method='post'>
	    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	    <input type="hidden" name="_method" value="delete">		
		<input type=submit value='logout'>
	</form> 
<%end%>
<%= yield %>

</body>
</html>
